<div class="page-header">
  <title><%= @character.name %></title>
  <h1><%= @character.name %> <small>of <%= @character.race %></small></h1>
  <div class="luck">
    <h3>Luck: <%= @character.luck %></h3>
    <% if @character.fine > 0 %>
      <h3>Fine: <%= @character.fine %></h3>
    <% end %>
  </div>
</div>

<!-- Keys -->
<div class="panel panel-default">
  <h3 class='panel-heading'>Keys:</h3>
  <div class="panel-body">
    <ul class='list-group'>
      <table class='table'>
        <tr>
          <th class='name'>
            Name
          </th>
          <th>
            Description
          </th>
        </tr>
        <% @character.keys.each do |key| %>
          <tr>
            <td>
              <%= key.keys.first %>
            </td>
            <td>
              <%= key.values.first %>
            </td>
          </tr>
        <% end %>
      </table>
    </ul>
  </div>
</div>

<!-- Secrets -->

<div class="panel panel-default">
  <h3 class='panel-heading'>Secrets:</h3>
  <div class="panel-body">
    <ul class='list-group'>
      <table class='table'>
          <tr>
            <th class='name'>
              Name
            </th>
            <th>
              Description
            </th>
          </tr>
        <% @character.secrets.each do |secret| %>
        <tr>
          <td>
            <%= secret.keys.first %>
          </td>
          <td>
            <%= secret.values.first %>
          </td>
        </tr>
        <% end %>
      </table>
    </ul>
  </div>
</div>

<!-- Traits -->

<div class="panel panel-default">
  <h3 class="panel-heading">Traits:</h3>
  <div class="panel-body">
    <table class="table">
      <tr>
        <% @character.traits.each do |trait| %>
          <th class='name'>
            <%= trait.title %>
          </th>
        <% end %>
      </tr>
      <% if @character.traits.any? %>
        <% @character.traits.map(&:tags).map(&:size).max.times do |i| %>
          <tr>
            <% @character.traits.each do |trait| %>
            <td>
              <% if specialization?(trait.tags[i]) %>
                <b>
                  <%= trait.tags[i] %>
                </b>
              <% else %>
                <%= trait.tags[i] %>
              <% end %>
            </td>
            <% end %>
          </tr>
        <% end %>
      <% end %>
    </table>
  </div>
</div>
