<div class="page-header">
  <h1><%= @character.name %> <small>of <%= @character.race %></small></h1>
</div>

<div class="panel panel-default">
  <h3 class='panel-heading'>Keys:</h3>
  <div class="panel-body">
    <ul class='list-group'>
      <table class='table'>
        <tr>
          <th class='name'>
            Name
          </th>
          <th>
            Description
          </th>
        </tr>
        <% @character.keys.each do |key| %>
          <tr>
            <td>
              <%= key.keys.first %>
            </td>
            <td>
              <%= key.values.first %>
            </td>
          </tr>
        <% end %>
      </table>
    </ul>
  </div>
</div>

<div class="panel panel-default">
  <h3 class='panel-heading'>Secrets:</h3>
  <div class="panel-body">
    <ul class='list-group'>
      <% @character.secrets.each do |secret| %>
        <table class='table'>
          <tr>
            <th class='name'>
              Name
            </th>
            <th>
              Description
            </th>
          </tr>
          <% @character.secrets.each do |secret| %>
          <tr>
            <td>
              <%= secret.keys.first %>
            </td>
            <td>
              <%= secret.values.first %>
            </td>
          </tr>
          <% end %>
        </table>
      <% end %>
    </ul>
  </div>
</div>


<div class="panel panel-default">
  <!-- Default panel contents -->
  <h3 class="panel-heading">Traits:</h3>
  <div class="panel-body">
    <!-- Table -->
    <table class="table">
      <tr>
        <% @character.traits.each do |trait| %>
          <th>
            <%= trait.title %>
          </th>
        <% end %>
      </tr>
      <% if @character.traits.first %>
        <% @character.traits.first.tags.size.times do |i| %>
          <tr>
            <% @character.traits.each do |trait| %>
            <td>
              <%= trait.tags[i] %>
            </td>
            <% end %>
          </tr>
        <% end %>
      <% end %>
    </table>
  </div>
</div>


<ul>

</ul>
